@model ProductListViewModel


@if (!Model.Products.Any())
{
    <p>No products found.</p>
}



@foreach (var product in Model.Products)
{
    <div>
        <h2>@product.Name</h2>
        <p>@product.Description</p>
        <p>@product.Price</p>
    </div>
}


@for(var i = 1; i <= Model.PagingInfo.TotalPages; i++)
{
    <a href="/?page=@i">@i</a>
}